<head>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<form>
    Temperature:
    <input type="number" ng-model="temperature">
    <button ng-click="temperatureUpdated()">Submit</button>
</form>
<br>

<table>
    <tr>
        <th>Temparature</th>
        <th>Date</th>
        <th>Client-Side Render %</th>
        <th>Server-Side Render %</th>
    </tr>
    <tr ng-repeat="change in RenderChanges">
        <td>{{change.temperature}}</td>
        <td>{{change.timestamp}}</td>
        <td>{{change.clientRenderPercentage}}</td>
        <td>{{change.serverRenderPercentage}}</td>
    </tr>
</table>